:root{
    --primary-color: #8B5CF6;
    --dark-gray: #6B7280;
    --off-white: #E5E7EB;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bolder;
    font-size: 2rem;
}
.link{
    text-decoration: none;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color: white;
    text-decoration: none;
    padding: 1rem;
}
.navigation .link-active{
    font-weight: bold;
}

.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.hero{
    padding: 2rem;
    text-align: center;
}
.hero .hero-image{
    max-width: 350px;
    margin: auto;
    text-align: center;
    display: block;
}
.container{
    padding: 1rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
.link-primary{
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    margin: 1rem 1rem 1rem 0rem;
    border: 1px solid var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}
.link-secondary{
    padding: 0.5rem 1rem;
    max-width: 150px;
    border: 1px solid var(--primary-color);
    margin: 1rem 1rem 1rem 0rem;
    border-radius: 0.5rem;
    /* margin-top: 1rem; */
}
.showcase-list{
    padding: 2rem;
}


.footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer-header{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.footer ul li img{
    margin-top: 1.5rem;
    width: 40px;
    height: 40px;
}

.link-active{
    font-weight: bold;
}